<mat-card>
  <mat-card-header>
    Detail
  </mat-card-header>
  <mat-card-content class="deatil">
    <form [formGroup]="expenseForm">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input formControlName="amount" id="expense-amount-input" matInput type="number" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="expense-name-input" matInput type="text"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Expense Category</mat-label>
        <mat-select id="expense-category-select" formControlName="expenseCategory">
          <mat-option disabled="true">--</mat-option>
          <mat-option
            *ngFor="let expenseCategory of expenseCategories"
            [value]="expenseCategory">
            {{ expenseCategory.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="expenseForm.controls['expenseCategory'].hasError('required')">
          Please choose a Expense Category
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Payment Type</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option disabled="true">--</mat-option>
          <mat-option
            *ngFor="let paymentType of paymentTypes"
            [value]="paymentType">
            {{ paymentType.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="expenseForm.controls['paymentType'].hasError('required')">
          Please choose a Customer
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<button (click)="addData(expenseForm.value)" [disabled]="this.expenseForm.invalid" aria-label="Add new expense"
        color="primary"
        id="add-expense-button" mat-raised-button>
  Submit
</button>
