.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.mat-card-content mat-form-field{
  margin: 3%
}

.table-content {
  margin: 3%;
}

.buttons-container {
  margin-left: -1%;
  margin-top: 2%;
  margin-bottom: -4%;
}

#add-expense-button {
  float: right;
  margin: 1%;
}
