<div id="body-container" class="body-container">
  <div class="title-content">
    <h1>{{getPageTitle()}}</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="content-container">
    <div class="button-container">
      <button id="add-business-button" (click)="addData()" *ngIf="!isAddingBusiness" aria-label="Add new business" color="primary" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
      <button id="close-business-button" (click)="cancel()" *ngIf="isAddingBusiness" aria-label="Cancel process to create new business" color="secondary" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div [hidden]="isAddingBusiness" id="table-business">
      <div class="elements-container" *ngIf="false">
        <table [dataSource]="dataSource"
               [hidden]="!(dataSource.length > 0)" class="mat-elevation-z8"
               mat-table
               multiTemplateDataRows
               matSort
               (matSortChange)="sortData($event)">
          <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="{{column}}"> {{column | titlecase}} </th>
            <td *matCellDef="let business" mat-cell> {{getColumnName(business[column], column)}} </td>
          </ng-container>
          <ng-container matColumnDef="expand">
            <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
            <td *matCellDef="let business" mat-cell>
              <button
                (click)="(expandedElement = expandedElement === business ? null : business); $event.stopPropagation()"
                aria-label="expand row" mat-icon-button>
                <mat-icon *ngIf="expandedElement !== business">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === business">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td *matCellDef="let business" [attr.colspan]="columnsToDisplayWithExpand.length" mat-cell>
              <div [@detailExpand]="business == expandedElement ? 'expanded' : 'collapsed'"
                   class="example-element-detail">
                <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center">
                  <mat-tab class="tab-box">
                    <ng-template mat-tab-label>
                      <span class="mat-tab-title">Products</span>
                    </ng-template>
                    <div class="mat-elevation-z4 inner-table">
                      <app-product [data]="business.products" [allowAdd]=false></app-product>
                    </div>
                  </mat-tab>
                  <mat-tab class="tab-box">
                    <ng-template mat-tab-label>
                      <span class="mat-tab-title">Investments</span>
                    </ng-template>
                    <div class="mat-elevation-z4 inner-table">
                      <app-investment [data]="business.investments" [allowAdd]=false></app-investment>
                    </div>
                  </mat-tab>

                </mat-tab-group>
              </div>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="columnsToDisplayWithExpand" mat-header-row></tr>
          <tr (click)="expandedElement = expandedElement === element ? null : element"
              *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              [class.example-expanded-row]="expandedElement === element"
              class="example-element-row"
              mat-row>
          </tr>
          <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
        </table>
      </div>
    </div>
    <div [hidden]="!isAddingBusiness"  id="add-business">
      <div mat-dialog-content>
        <app-add-business (newBusiness)="newBusiness($event)"></app-add-business>
      </div>
    </div>
  </div>
</div>
