<h2 mat-dialog-title>Search Products</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Search</mat-label>
      <input [formControl]="searchCtrl"
             [matAutocomplete]="auto"
             aria-label="Search product"
             matInput
             autofocus>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearchChanges($event)">
        <mat-option *ngFor="let productSale of foundProductSales | async" [value]="productSale">
          <span>{{productSale.product}}</span> |
          <small>{{productSale.productCode.code}}</small> |
	  <small>{{productSale.totalQuantity}} pzs</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div id="results-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" [hidden]="!(dataSource.length > 0)">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let productSale">{{productSale.product}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let productSale">{{productSale.totalQuantity}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let productSale">{{productSale.description}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let productSale; let index">
          <button mat-icon-button aria-label="Button to delete product"
                  (click)="removeData({index, elementId: productSale.productCode})" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="addElements()" cdkFocusInitial mat-button>Add</button>
</mat-dialog-actions>
