<div class="elements-container">
  <div class="example-button-container" *ngIf="allowAdd">
    <button mat-mini-fab color="primary" (click)="addData()" aria-label="Add new investment">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" [hidden]="!(dataSource.length > 0)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{product.productCode.description}}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Product Code</th>
      <td mat-cell *matCellDef="let product">{{product.productCode.code}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{product.description}}</td>
    </ng-container>

    <ng-container matColumnDef="currentQuantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let product">{{product.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="purchasePrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{product.purchasePrice | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let product">{{product.subcategory.category.name}}</td>
    </ng-container>

    <ng-container matColumnDef="subcategory">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let product">{{product.subcategory.name}}</td>
    </ng-container>

    <ng-container *ngIf="allowDelete" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product; let index">
        <button mat-icon-button aria-label="Button to delete product"
                (click)="removeData({index, elementId: product.productId})" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
