.spinner-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-container {
  display: flex;
  flex-flow: column;
}

.elements-container .mat-form-field {
  width: 30%;
}
