<div class="body-container" id="body-container">
  <div class="title-content">
    <h1>{{getPageTitle()}}</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="content-container">
    <div class="button-container">
      <button (click)="addData()" *ngIf="!isAddingExpense" aria-label="Add new business" color="primary"
              id="add-business-button" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="cancel()" *ngIf="isAddingExpense" aria-label="Cancel process to create new business"
              color="secondary" id="close-business-button" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="container">
      <div [hidden]="isAddingExpense" id="table-expense">
        <div class="elements-container">
          <mat-form-field id>
            <input #input id="search-expenses-input" matInput placeholder="Search expenses"/>
          </mat-form-field>
          <div *ngIf="dataSource.loading$ | async" class="spinner-app">
            <mat-spinner></mat-spinner>
          </div>
          <table [dataSource]="dataSource"
                 class="mat-elevation-z8"
                 mat-table
                 matSort
                 matSortActive="created"
                 matSortDirection="desc"
                 matSortDisableClear
          >
            <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> {{column | titlecase}} </th>
              <td *matCellDef="let expense" mat-cell> {{getColumnName(expense[column], column)}} </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
          <mat-paginator [length]="dataSource.totalElements" [pageSizeOptions]="pageSizeOptions"
                         [pageSize]="pageSize"></mat-paginator>
        </div>
      </div>
      <div [hidden]="!isAddingExpense" id="add-expense">
        <div mat-dialog-content>
          <app-add-expense (newExpense)="newExpense($event)"></app-add-expense>
        </div>
      </div>
    </div>
  </div>
</div>
