<h2 mat-dialog-title>Sale details of {{data.customer.name}} </h2>
<mat-dialog-content class="mat-typography">

  <div class="divTable">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell header-element">Payment Type:</div>
        <div class="divTableCell">{{data.paymentType.name}}</div>
      </div>
      <div class="divTableRow">
        <div class="divTableCell header-element">description</div>
        <div class="divTableCell">{{data.description}}</div>
      </div>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let detail of data.productsSale">
      <td>{{detail.product}}</td>
      <td>{{detail.description}} {{getProductTags(detail.productTags)}}</td>
      <td>{{detail.quantity}}</td>
      <td>{{detail.totalPrice}}</td>
    </tr>
    </tbody>
  </table>
  <div class="divTableRow">
    <div class="divTableCell"></div>
    <div class="divTableCell"></div>
    <div class="divTableCell header-element">Total: </div>
    <div class="divTableCell header-element">{{getTotalPrice()}}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button aria-label="Close modal" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <button (click)="confirmSale()" aria-label="Confirm sale" cdkFocusInitial mat-icon-button>
    <mat-icon>check</mat-icon>
  </button>
</mat-dialog-actions>
