.example-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10pt;
}

.elements-container {
  display: flex;
  flex-flow: column;
}

td.mat-column-actions {
  width: 30px;
  padding-right: 15px;
}
