<div class="elements-container">
  <div class="example-button-container" *ngIf="allowAdd">
    <button mat-mini-fab color="primary" (click)="addData()" aria-label="Add new investment">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" [hidden]="!(dataSource.length > 0)">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let investment">{{investment.name}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let investment">{{investment.description}}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let investment">{{investment.amount | currency}}</td>
    </ng-container>

    <!-- Payment type Column -->
    <ng-container matColumnDef="paymentType">
      <th mat-header-cell *matHeaderCellDef>Payment Type</th>
      <td mat-cell *matCellDef="let investment">{{investment.paymentType.name}}</td>
    </ng-container>

    <ng-container *ngIf="allowDelete" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let investment; let index">
        <button mat-icon-button aria-label="Button to delete investment"
                (click)="removeData({index, elementId: investment.investmentId})" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
