<div style="display: table-caption">
  <form [formGroup]="investmentFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="number"
        placeholder="Amount"
        formControlName="amount"
        required/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Name"
        formControlName="name"
        required/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Description"
        formControlName="description"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Payment Type</mat-label>
      <mat-select formControlName="paymentType" required>
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let paymentType of paymentTypesCatalog"
          [value]="paymentType">
          {{ paymentType.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="investmentFormGroup.controls['paymentType'].hasError('required')">
        Please choose a Payment Type
      </mat-error>
    </mat-form-field>
  </form>
</div>


<button mat-button (click)="addNewInvestment(investmentFormGroup.value)" [disabled]="!investmentFormGroup.valid">
  Save
</button>

