<mat-form-field>
  <mat-label>Payment Type</mat-label>
  <mat-select formControlName="paymentTypeFormCtl" (selectionChange)="onSelectionChanges()">
    <mat-option disabled="true">--</mat-option>
    <mat-option
      *ngFor="let paymentType of paymentTypes"
      [value]="paymentType">
      {{ paymentType.name }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="paymentTypeFormCtl.hasError('required')">
    Please choose a Payment Type
  </mat-error>
</mat-form-field>
