<div style="display: table-caption">
  <form [formGroup]="productFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Product Code</mat-label>
      <mat-select formControlName="productCode">
        <mat-option disabled="true">--</mat-option>
        <mat-option
          *ngFor="let productCode of productCodes"
          [value]="productCode">
          <small>{{ productCode.code }}</small> |
          <small> {{ productCode.description }} </small>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productFormGroup.controls['productCode'].hasError('required')">
        Please choose a product code
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="3"
                formControlName="name">
      </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select (selectionChange)="categoriesOnChange($event.value)" formControlName="category"
                  id="category-select"
                  required>
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let category of categoriesCatalog"
          [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="productFormGroup.controls['category'].hasError('required')">
        Please choose a category
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Subcategory</mat-label>
      <mat-select formControlName="subcategory" id="subcategory-select" placeholder="Subcategory" required>
        <mat-option>--</mat-option>
        <mat-option
          *ngFor="let subcategory of subcategoriesCatalog"
          [value]="subcategory">
          {{ subcategory.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productFormGroup.controls['subcategory'].hasError('required')">
        Please choose a subcategory
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        formControlName="description"
        matInput
        placeholder="Description"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Initial quantity</mat-label>
      <input
        formControlName="initialQuantity"
        matInput
        placeholder="Initial quantity"
        type="number"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Purchase Price</mat-label>
      <input
        formControlName="purchasePrice"
        matInput
        placeholder="Purchase Price"
        type="number"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Suggested Price</mat-label>
      <input
        formControlName="suggestedPrice"
        matInput
        placeholder="Suggested Price"
        type="number"/>
    </mat-form-field>
  </form>
</div>


<button (click)="addNewProduct(productFormGroup.value)" [disabled]="!productFormGroup.valid" mat-button>Save</button>


