<h2 mat-dialog-title>Product Tag</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <p>Scan {{serialNumbers.size + 1}} / {{groupSequence}}</p>
    <div id="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Scan products</mat-label>
        <input (keyup.enter)="onEnter()" [formControl]="productTagScanForm" autofocus id="serial-number-input"
               matInput placeholder="Product Tag">
      </mat-form-field>
    </div>
    <mat-checkbox
      [checked]="isChecked" (change)="onCheckChanges()">
      Without Product Tags
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
