<div class="body-container" id="sale-body-container">
  <div class="title-content">
    <h1>Sale</h1>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="saleForm">
    <div class="sale-data" id="search-container">
      <mat-form-field appearance="outline">
        <mat-label>Scan products</mat-label>
        <input (keyup.enter)="onEnter()" [formControl]="scanSearchForm" autofocus id="search-sale-scan-product-input"
               matInput placeholder="Scan products">
        <mat-icon (click)="openSearchProductDialog()" matSuffix>search</mat-icon>
      </mat-form-field>


      <mat-form-field *ngIf="isAddCustomer" appearance="outline" id="form-field-customer-jupiter">
        <mat-label>Customer</mat-label>
        <input formControlName="customer" id="customer-sale-input" matInput placeholder="Customer's name"
               type="text">
        <mat-icon (click)="onCustomerCancelChange()" aria-label="Cancel customer button"
                  id="cancel-customer-button" matSuffix>cancel
        </mat-icon>
        <mat-error *ngIf="saleForm.controls['customer'].hasError('required')">
          Please enter a customer name.
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!isAddCustomer" appearance="outline">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customer">
          <mat-option disabled="true">--</mat-option>
          <mat-option (click)="onCustomerAddChange()">
            <mat-icon (click)="onCustomerAddChange()" aria-label="Add customer button" matSuffix>
              add
            </mat-icon>
          </mat-option>
          <mat-option
            *ngFor="let customer of customers"
            [value]="customer">
            {{ customer.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="saleForm.controls['customer'].hasError('required')">
          Please choose a Customer.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Payment Type</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option disabled="true">--</mat-option>
          <mat-option
            *ngFor="let paymentType of paymentTypes"
            [value]="paymentType">
            {{ paymentType.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="saleForm.controls['paymentType'].hasError('required')">
          Please choose a Payment Type
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput res></textarea>
      </mat-form-field>
      <button (click)="openSaleDetailsDialog()"
              [disabled]="saleDetails.length < 1 || !saleDetails.valid || !saleForm.valid"
              aria-label="Save sale button" mat-icon-button class="big-icon-button">
        <mat-icon >attach_money</mat-icon>
      </button>
    </div>
    <div id="sale-table">
      <table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" formArrayName="saleDetails"
             id="sale-details-table" mat-table>
        <ng-container matColumnDef="product">
          <th *matHeaderCellDef mat-header-cell>Product</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field>
              <input [id]="'product-input-' + productSale.value.productCode.code" formControlName="product" matInput/>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>Description</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field appearance="outline">
              <input [id]="'description-input-' + productSale.value.code" formControlName="description" matInput>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th *matHeaderCellDef mat-header-cell>Quantity</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field appearance="outline">
              <input [id]="'quantity-input-' + productSale.value.code" formControlName="quantity" matInput>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="totalQuantity">
          <th *matHeaderCellDef mat-header-cell>Total Quantity</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field appearance="standard">
              <input [id]="'total-quantity-input-' + productSale.value.code" formControlName="totalQuantity" matInput>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="unitPrice">
          <th *matHeaderCellDef mat-header-cell>Unit Price</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field appearance="outline">
              <input [id]="'unit-price-input-' + productSale.value.code" formControlName="unitPrice" matInput>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell>Total</td>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <th *matHeaderCellDef mat-header-cell>Total Price</th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <mat-form-field appearance="standard">
              <input [id]="'total-price-input-' + productSale.value.code" formControlName="totalPrice" matInput>
            </mat-form-field>
          </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalCost() | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let productSale let rowIndex = index" [formGroupName]="rowIndex" mat-cell>
            <button (click)="openProductTagScanDialog(rowIndex)" aria-label="Button to delete product"
                    mat-icon-button>
              <mat-icon>settings_overscan</mat-icon>
            </button>
            <button (click)="removeRow(rowIndex)" aria-label="Button to delete product"
                    mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
      </table>
    </div>
  </form>
</div>
