mat-icon:hover {
  font-weight: bold;
}

.demo-table {
  width: 100%;
  margin-top: 1%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}


tr.mat-mdc-footer-row td {
  font-weight: bold;
}

#search-container {
  margin-top: 30px;
}

.mat-form-field .mat-icon {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.sale-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.sale-data .mat-card {
  width: 70%;
}


textarea {
  resize: none;
}


.big-icon-button {
  width: 80px !important;
  height: 80px !important;
  line-height: 80px !important;

  .mat-icon {
    width: 70px !important;
    height: 70px !important;
    line-height: 70px !important;
  }
  .material-icons {
    font-size: 70px !important;
  }
}
