.mat-list-item .mat-icon {
  width: 75px;
  height: 50px;
  color: white;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4%;
  background: #3f51b5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #3f51b5;
}

.nav-content-font {
  color: #FFFFFF;
  font-size: 24px;
}

.header-options {
  margin-left: auto
}

.header-options .mat-icon {
  margin: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.big-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-top: 20px;
  margin-bottom: 20px;

  .mat-icon {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .material-icons {
    font-size: 30px !important;
  }
}
