<mat-toolbar class="header">
  <span class="nav-content-font">Jupiter</span>
  <span class="header-options nav-content-font">
    <mat-icon>message</mat-icon>
    <mat-icon>help_outline</mat-icon>
    <mat-icon>face</mat-icon>
    <mat-icon>circle_notifications</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [fixedBottomGap]="options.value.bottom" [fixedInViewport]="options.value.fixed"
               [fixedTopGap]="options.value.top"
               class="sidenav" mode="side"
               opened>
    <mat-nav-list>
      <mat-list-item class="big-icon-button">
        <mat-icon mat-list-icon matTooltip="Home" routerLink="/">home</mat-icon>
      </mat-list-item>
      <mat-list-item class="big-icon-button">
        <mat-icon mat-list-icon matTooltip="Sales" routerLink="/sale">shopping_cart</mat-icon>
      </mat-list-item>
      <mat-list-item class="big-icon-button">
        <mat-icon mat-list-icon matTooltip="Payments" routerLink="/expenses">credit_card</mat-icon>
      </mat-list-item>
      <mat-list-item class="big-icon-button">
        <mat-icon mat-list-icon matTooltip="Businesses" routerLink="/business">business</mat-icon>
      </mat-list-item>
      <mat-list-item class="big-icon-button">
        <mat-icon mat-list-icon matTooltip="Balance" routerLink="/">balance</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

