<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!--    General about business and vendor-->
  <mat-step [stepControl]="businessFormGroup" (interacted)="onInvestmentsStepChange($event)" >
    <div id="general-information" class="general-information">
      <form [formGroup]="businessFormGroup">
        <ng-template matStepLabel>General Information</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input id="name-business-input" matInput placeholder="Business name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input id="description-business-input" matInput placeholder="Last name, First name" formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Vendors</mat-label>
          <mat-select id="vendor-business-select" formControlName="vendor" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">
              {{vendor.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="businessFormGroup.controls['vendor'].hasError('required')">Please choose an vendor
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </div>
  </mat-step>
  <!--      Investments-->
  <mat-step [stepControl]="investmentsFormGroup">
    <div id="investments-content" class="table-content">
    <form [formGroup]="investmentsFormGroup">
      <ng-template matStepLabel>Investments</ng-template>
      <app-investment (investments)="addInvestments($event)" [allowDelete]="true" [initAddData]="isAddData"></app-investment>
      <div class="buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    </div>
  </mat-step>
  <!--    Products-->
  <mat-step [stepControl]="productsFormGroup">
    <div id="products-content" class="table-content">
    <form [formGroup]="productsFormGroup">
      <ng-template matStepLabel>Products</ng-template>
      <app-product (products)="addProducts($event)" [allowDelete]="true"></app-product>
    </form>
      <div class="buttons-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
<!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
      <button mat-button (click)="saveBusiness()"  [disabled]="isSubmitBusinessDisabled()">Add</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
